@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

body {
  background-color: rgb(209, 238, 236);
  text-align: center;
  width: 90%;
  max-height: 50% vh;
}
h1 {
  color: rgb(204, 47, 228);
  cursor:  default;
  font-family: Goldman;
  width: 100%;
  text-align: center;
  font-size: 100px;
  min-width: 620px;
  max-height: 10%;
}

h5 {
  color:  #ce83e3;
  font-family: Goldman;
}
input{
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
// p {
//   color: black;
//   cursor:  default;
// }
form{
  color: rgb(233, 200, 228);
  background-blend-mode: darken;
  align: center;
  font-family: Goldman;
  min-width: 620px;
}

.submit {
  background-color: rgb(158, 231, 235);
  border: 2px solid #rgb(236, 44, 208);
  padding: 15px 32px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 30px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  font-family: Goldman;
  min-width: 620px;
}

button {
  background-color: rgb(148, 182, 180);
  border: 2px solid #rgb(236, 44, 208);
  padding: 15px 32px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 30px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  font-family: Goldman;
  min-width: 620px;
}

#deleteButton{
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: Goldman;
  min-width: 200px;
}

#editButton{
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: Goldman;
  min-width: 200px;
}
.container {
  height: 75vh;
  cursor: crosshair;
  color: rgb(236, 44, 208);
  max-height: 50%;
}

.board {
  margin: auto;
  max-height: calc(75vh - 75px);
  max-width: calc(75vh - 75px);
  background: url('https://static.vecteezy.com/system/resources/thumbnails/000/245/981/small_2x/mountain-sunset-landscape-first-person-view-vector.jpg') no-repeat center center;
  background-size: cover;
}

.card {
 background-image: url('https://media.istockphoto.com/vectors/fizzing-air-bubbles-on-white-background-underwater-oxygen-texture-of-vector-id921224980?k=6&m=921224980&s=612x612&w=0&h=G8GgE_Ha0LdK4lVzQZUVvIWCKzB6_R6dzBV_AiUCDsw=')

  }
